@if (templateItem(); as templateItem) {
  <div
    class="flex items-center gap-4 py-2 hover:bg-gray-50 transition-colors"
    [jbtDataTestid]="testIds.Item"
    [class]="'grocery-item-content-' + templateItem.uuid"
    (click)="onMissingCheck(templateItem)"
    (keypress)="onMissingCheck(templateItem)"
    tabindex="0"
  >
    <!-- Icon -->
    <div
      class="relative w-15 h-15 rounded-full bg-gray-100 flex items-center justify-center"
      [class.opacity-50]="templateItem.missing"
    >
      @if (templateItem.hidden) {
        <i
          class="pi pi-eye-slash text-gray-400 text-xl bg-[#cacaca] p-[0.4rem] rounded-full absolute right-0 top-0 translate-x-[30%] -translate-y-[30%]"
        ></i>
      }
      <jbt-grocery-item-icon
        [iconName]="templateItem.icon"
      ></jbt-grocery-item-icon>
    </div>
    <span
      class="flex-1 text-gray-800"
      [class.line-through]="templateItem.missing"
      [class.opacity-50]="templateItem.missing"
      [jbtDataTestid]="testIds.ItemName"
      >{{ templateItem.name }}</span
    >
    <p-button
      (click)="onShowPopover($event, menu)"
      icon="pi pi-ellipsis-h"
      severity="secondary"
      [rounded]="true"
      [text]="true"
      [jbtDataTestid]="testIds.DetailsItemButton"
    />
    <p-menu
      appendTo="body"
      #menu
      [model]="templateItem.menu()"
      [popup]="true"
      [jbtDataTestid]="testIds.DetailsMenu"
    />
  </div>
}
