.create-item-form {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.grocery-item-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    .left-card-side {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: calc(100% - 3rem);
      i.item-icon {
        padding: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 0.3rem;
        }
      }
      p {
        margin: 0;
        padding: 0.5rem;
        display: inline-block;
        width: calc(100% - 1rem);
        cursor: text;
      }
      input {
        background: transparent;
        border: transparent;
        padding: 0.5rem;
      }
    }

    .pi-times {
      cursor: pointer;
      color: red;
      padding: 0.5rem;
    }
  }
}
