<div class="create-item-form">
  <input type="text" pInputText [(ngModel)]="itemName" />
  <p-button (click)="handleCreateNote()" label="Criar" />
</div>
<div class="grocery-item-list">
  @for (item of itemsList(); track item) {
    <div class="grocery-item">
      <div class="left-card-side">
        <p-checkbox
          (onChange)="handleChangeMissingItem(item)"
          [(ngModel)]="item.data.missing"
          [binary]="true"
        />
        <i class="item-icon pi pi-shopping-bag"></i>
        @if (!item.editing) {
          <p
            (click)="handleEditItem(item)"
            (keyup.enter)="handleEditItem(item)"
            tabindex="0"
            role="button"
          >
            {{ item.data.name }}
          </p>
        } @else {
          <input
            (jbtOnRender)="handleGetInputElement($event, item)"
            type="text"
            pInputText
            [(ngModel)]="item.data.name"
            (blur)="handleFinalizeEditionItem(item)"
            (keydown.enter)="handleFinalizeEditionItem(item)"
          />
        }
      </div>
      <i
        class="pi pi-times"
        (click)="item.data.uuid && handleDeleteItem(item.data.uuid)"
        (keyup.enter)="item.data.uuid && handleDeleteItem(item.data.uuid)"
        tabindex="0"
        role="button"
      ></i>
    </div>
  }
</div>
<router-outlet />
