<div class="p-4 max-w-4xl mx-auto">
  <!-- Header Section -->
  <div
    class="flex items-center justify-between mb-3 border-b border-gray-200 pb-4"
  >
    <h1 class="text-xl font-bold text-gray-800">Seus itens</h1>
    <div class="flex gap-2">
      <p-button icon="pi pi-plus" severity="primary" (onClick)="onAdd()" />
    </div>
  </div>

  <!-- Items List -->
  <div class="bg-white rounded-lg">
    @if (!loading) {
      @for (item of groceryItems(); track item.uuid) {
        <div
          class="flex items-center gap-4 py-2 hover:bg-gray-50 transition-colors"
          [jbtDataTestid]="testIds.Item"
          [class]="'grocery-item-content-' + item.uuid"
          (click)="onMissingCheck(item)"
          (keypress)="onMissingCheck(item)"
          tabindex="0"
        >
          <!-- Icon -->
          <div
            class="w-15 h-15 rounded-full bg-gray-100 flex items-center justify-center"
            [class.opacity-50]="item.missing"
          >
            <img class="w-10 h-10" src="icons/ketchup.svg" alt="Item ícone" />
          </div>
          <span
            class="flex-1 text-gray-800"
            [class.line-through]="item.missing"
            [class.opacity-50]="item.missing"
            [jbtDataTestid]="testIds.ItemName"
            >{{ item.name }}</span
          >
          <p-button
            (click)="onShowPopover($event, menu)"
            icon="pi pi-ellipsis-h"
            severity="secondary"
            [rounded]="true"
            [text]="true"
            [jbtDataTestid]="testIds.DetailsItemButton"
          />
          <p-menu
            appendTo="body"
            #menu
            [model]="item.menu()"
            [popup]="true"
            [jbtDataTestid]="testIds.DetailsMenu"
          />
        </div>
      }
    }

    <!-- Empty State -->
    @if (loading) {
      <div
        class="p-8 text-center text-gray-500"
        [jbtDataTestid]="testIds.LoadingState"
      >
        <p>Carregando</p>
      </div>
    } @else if (hasError) {
      <div
        class="p-8 text-center text-gray-500"
        [jbtDataTestid]="testIds.ErrorState"
      >
        <img
          src="error.svg"
          alt="Error"
          class="w-40 h-40 mb-4 mx-auto translate-5"
        />
        <p>Erro ao carregar itens</p>
        <p-button
          class="mt-4 inline-block"
          icon="pi pi-reload"
          label="Recarregar"
          [outlined]="true"
          severity="secondary"
          (onClick)="loadItems()"
        ></p-button>
      </div>
    } @else if (groceryItems().length === 0) {
      <div
        class="p-8 text-center text-gray-500"
        [jbtDataTestid]="testIds.EmptyState"
      >
        <i class="pi pi-shopping-cart text-4xl mb-3 block"></i>
        <p>Nenhum item cadastrado</p>
      </div>
    }
  </div>
</div>

<p-dialog
  [(visible)]="showAddModal"
  header="Adicionar Item"
  [modal]="true"
  [style]="{ width: '90%' }"
  [draggable]="false"
  [resizable]="false"
  [jbtDataTestid]="testIds.AddItemModal"
>
  <div class="flex flex-col gap-4">
    <input
      id="itemName"
      pInputText
      type="text"
      placeholder="Digite o nome do item"
      [formControl]="newItemName"
      [jbtDataTestid]="testIds.NewItemInput"
    />
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      (onClick)="showAddModal = false"
    />
    <p-button
      [disabled]="addButtonDisabledState()"
      [label]="adding() ? 'Adicionando...' : 'Adicionar'"
      severity="primary"
      (onClick)="saveNewItem()"
      [jbtDataTestid]="testIds.SaveButton"
    />
  </ng-template>
</p-dialog>
<p-toast />
