<p-dialog
  [(visible)]="showDialogFlag"
  [header]="dialogHeader()"
  [modal]="true"
  [style]="{ width: '90%' }"
  [draggable]="false"
  [resizable]="false"
  [jbtDataTestid]="testIds.AddItemModal"
>
  <div class="flex flex-col gap-4">
    <div class="w-full flex justify-center">
      <div
        class="relative w-30 h-30 rounded-full bg-gray-100 flex items-center justify-center"
      >
        <jbt-grocery-item-icon
          [iconName]="item()?.icon || ''"
          [iconSize]="20"
          [jbtDataTestid]="testIds.ItemIcon"
        ></jbt-grocery-item-icon>
      </div>
    </div>
    <input
      id="itemName"
      pInputText
      type="text"
      placeholder="Digite o nome do item"
      [formControl]="itemNameControl"
      [jbtDataTestid]="testIds.NewItemInput"
    />
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      (onClick)="handleCancel()"
      [jbtDataTestid]="testIds.RegistryCancelButton"
    />
    <p-button
      [disabled]="saveButtonDisabledStt()"
      [label]="executing() ? 'Adicionando...' : 'Adicionar'"
      severity="primary"
      (onClick)="exec()"
      [jbtDataTestid]="testIds.SaveButton"
    />
  </ng-template>
</p-dialog>
