<p-dialog
  [(visible)]="showDialogFlag"
  header="Adicionar Item"
  [modal]="true"
  [style]="{ width: '90%' }"
  [draggable]="false"
  [resizable]="false"
  [jbtDataTestid]="testIds.AddItemModal"
>
  <div class="flex flex-col gap-4">
    <input
      id="itemName"
      pInputText
      type="text"
      placeholder="Digite o nome do item"
      [formControl]="itemNameControl"
      [jbtDataTestid]="testIds.NewItemInput"
    />
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      (onClick)="itemNameControl.reset()"
    />
    <p-button
      [disabled]="saveButtonDisabledStt()"
      [label]="executing() ? 'Adicionando...' : 'Adicionar'"
      severity="primary"
      (onClick)="exec()"
      [jbtDataTestid]="testIds.SaveButton"
    />
  </ng-template>
</p-dialog>
