<div class="p-4 w-full flex align-center justify-center mb-4">
  <div class="p-6 flex flex-col items-center gap-6">
    <jbt-grocery-item-icon
      iconSize="20"
      [iconName]="showingIcon()"
      [jbtDataTestid]="testIds.SelectedIcon"
    ></jbt-grocery-item-icon>
    <p [jbtDataTestid]="testIds.IconName">{{ showingIcon().description }}</p>
  </div>
</div>
<div class="flex wrap gap-4 justify-center">
  @for (icon of icons(); track icon) {
    <jbt-grocery-item-icon
      (mouseEnter)="setPreviewIcon(icon)"
      (mouseLeave)="resetPreviewIcon()"
      (click)="selectIcon(icon)"
      [iconName]="icon"
      [jbtDataTestid]="testIds.IconOption"
    ></jbt-grocery-item-icon>
  }
</div>
<div class="flex justify-end gap-2 mt-8">
  <p-button
    label="Cancelar"
    severity="secondary"
    [outlined]="true"
    (onClick)="handleCancel()"
    [jbtDataTestid]="testIds.CancelButton"
  />
  <p-button
    label="Confirmar"
    severity="primary"
    (onClick)="save()"
    [jbtDataTestid]="testIds.SaveButton"
  />
</div>
